# plotting
seaborn

# neuroimaging
nilearn

# electrophysiology
mne

# data science
scikit-learn

# fun topics
# neurotech
# enigma-toolbox # neurogenetics stuff

# presentation tools
jupyterlab
rise

